@if (User.Identity.IsAuthenticated)
{
    <ul>
        <li class="btn_share">
            <a href="@Url.Action("Publish", "Post")" title="Share your picture">
                Share your picture
            </a>
        </li>
        <li class="btn_alert">
            <a href="@Url.Action("Index", "Notifications")" title="Notifications">
                Notifiche
                @*@{ var notificationsCount = Html.Action("Count", "Notifications").ToString(); }
                @if (int.Parse(notificationsCount) > 0)
                {
                    <span> (@notificatiosCount)</span>
                }*@
            </a>
        </li>
        <li class="btn_user">
            <a href="@Url.Action("Profile", "Account", new { id = User.Identity.Name })" title="User profile">
                User profile
            </a>
        </li>
        <li class="btn_logout">
            <a href="@Url.Action("Logout", "Account")" title="Logout">
                Logout
            </a>
        </li>
    </ul>
}
else
{
    <ul>
        <li class="btn_register">
            <a href="@Url.Action("Register", "Account")" title="Registrati">Register</a>
        </li>
        <li class="btn_login">
            <a href="@Url.Action("Login", "Account")" title="Accedi">Login</a>
        </li>
    </ul>
}