@model UserProfileModel

@{
    ViewData["Title"] = $"{Model.Nickname} user profile";
}

<div>
    <div class="user-profile-info">
        @{
            var profilePictureBase64 = Convert.ToBase64String(Model.ProfilePicture);
            var profilePicture = String.Format("data:image/jpeg;base64,{0}", profilePictureBase64);
        }
        <img src="@profilePicture" alt="User's profile picture" />

        <div class="user-profile-details">
            <h1>@Model.Nickname</h1>
            <strong>@(Model.Name) @(Model.Surname)</strong>
            <p>@Model.Bio</p>
        </div>

        @if (Model.IsCurrentUserProfile)
        {
            <a class="btn_edit" asp-action="Edit" asp-controller="Account">Edit</a>
        }
        else
        {
            <a class="@(Model.Following ? "btn_following" : "btn_follow")"
               asp-action="@(Model.Following ? "Unfollow" : "Follow")" asp-controller="Account" asp-route-id="@Model.Nickname">
                @(Model.Following ? "Unfollow" : "Follow")
            </a>
        }
    </div>

    <div class="user-profile-stats">
        @if (User.Identity.IsAuthenticated)
        {
            <ul>
                <li>@Model.NumberOfPosts <label>post</label></li>
                <li>
                    <a asp-action="Followers" asp-controller="Account" asp-route-id="@Model.Nickname" class="popup-link" data-ajax-url="@Url.Action("Followers", "Account", new { id = Model.Nickname })">
                        @Model.NumberOfFollowers <label>followers</label>
                    </a>
                </li>
                <li>
                    <a asp-action="Following" asp-controller="Account" asp-route-id="@Model.Nickname" class="popup-link" data-ajax-url="@Url.Action("Following", "Account", new { id = Model.Nickname })">
                        @Model.NumberOfFollows <label>following</label>
                    </a>
                </li>
            </ul>
        }
        else
        {
            <ul>
                <li>
                    <strong>@Model.NumberOfPosts</strong> post
                </li>
                <li>
                    <strong>@Model.NumberOfFollowers</strong> followers
                </li>
                <li>
                    Followed by <strong>@Model.NumberOfFollows</strong> people
                </li>
            </ul>
        }
    </div>

    <div class="user-profile-images">
        @if (Model.NumberOfPosts == 0)
        {
            <p>@(Model.Nickname) hasn't still shared anything.</p>
        }
        else
        {
            <p>Latest @(Model.RecentPosts.Length) post by @(Model.Nickname)</p>
            foreach (var thumbnail in Model.RecentPosts)
            {
                var postPictureBase64 = Convert.ToBase64String(thumbnail.Picture);
                var postPicture = String.Format("data:image/jpeg;base64,{0}", postPictureBase64);
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@thumbnail.PostID">
                    <img src="@postPicture" alt="Post picture thumbnail" />
                </a>
            }
        }
    </div>
</div>