@using InstaLike.Web.Extensions

@model IEnumerable<CommentModel>

@if (Model != null && Model.Any())
{
    <ol class="post-comments">
        @* Shows only the first five comments *@
        @foreach (var comment in Model.OrderByDescending(c => c.CommentDate).Take(5))
        {
            <li>
                <strong>
                    <a class="comment-author-nickname" asp-action="Profile" asp-controller="Account" asp-route-id="@comment.AuthorNickName">@comment.AuthorNickName</a>
                </strong>
                <p>
                    &nbsp;@comment.Text
                </p>
                <span>
                    &nbsp;<time title="@comment.CommentDate.DateTime" datetime="@comment.CommentDate.DateTime">@comment.CommentDate.UtcDateTime.AsPastDays()</time>
                </span>
            </li>
        }

        @* Hides other comments *@
        @foreach (var comment in Model.OrderByDescending(c => c.CommentDate).Skip(5))
        {
            <li class="comment-hidden">
                <strong>
                    <a asp-action="Profile" asp-controller="Account" asp-route-id="@comment.AuthorNickName">@comment.AuthorNickName</a>
                </strong>
                <p>
                    &nbsp;@comment.Text
                </p>
                <span>
                    &nbsp;<time title="@comment.CommentDate.DateTime" datetime="@comment.CommentDate.DateTime">@comment.CommentDate.UtcDateTime.AsPastDays()</time>
                </span>
            </li>
        }
    </ol>
}
