@using InstaLike.Web.Extensions

@model PostModel

<div>
    <div class="author">
        @{
            var profilePictureBase64 = Convert.ToBase64String(Model.AuthorProfilePicture);
            var profilePicture = $"data:image/jpeg;base64,{profilePictureBase64}";
        }
        <img src="@profilePicture" alt="User's profile picture" />

        <a asp-action="Profile" asp-controller="Account" asp-route-id="@Model.AuthorNickName">
            @Model.AuthorNickName
        </a>

        <time title="@Model.PostDate.DateTime.ToString("dd/MM/yyyy HH:mm")" datetime="@Model.PostDate.DateTime.ToString("dd/MM/yyyy HH:mm")">
            @Model.PostDate.UtcDateTime.AsPastDays()
        </time>
    </div>

    <a asp-action="Detail" asp-controller="Post" asp-route-id="@Model.PostID">
        @{
            var postPictureBase64 = Convert.ToBase64String(Model.Picture);
            var postPicture = $"data:image/jpeg;base64,{postPictureBase64}";
        }
        <img class="image-timeline" src="@postPicture" alt="Post picture" />
    </a>

    <div>
        <div class="post-likes">
            <button class="like-button @(Model.IsLikedByCurrentUser ? "post-liked" : string.Empty)" data-post-id="@Model.PostID" data-user-id="@User.GetIdentifier()">
                Like
            </button>
            <strong>
                <span class="likes-count">@Model.LikesCount</span> likes
            </strong>
            @{
                if (Model.CanBeEditedByCurrentUser)
                {
                    <span>
                        <a asp-action="Edit" asp-controller="Post" asp-route-id="@Model.PostID">Edit post</a>
                    </span>
                }
            }
        </div>

        <p class="post-author-comment">
            @Html.Raw(Model.Text)
        </p>

        <partial name="~/Views/Post/_CommentsPartial.cshtml" model="Model.Comments" />

        <partial name="~/Views/Post/_AddCommentPartial.cshtml" model="Model" />
    </div>
</div>