@using InstaLike.Web.Extensions

@model PostModel

@{
    ViewBag.Title = "Post detail";
}

<div class="post-dettaglio">
    <div class="author">
        @{
            var profilePictureBase64 = Convert.ToBase64String(Model.AuthorProfilePicture);
            var profilePicture = String.Format("data:image/jpeg;base64,{0}", profilePictureBase64);
        }
        <img src="@profilePicture" />

        <a asp-action="Profile" asp-controller="Account" asp-route-id="@Model.AuthorNickName">@Model.AuthorNickName</a>

        <time title="@Model.PostDate.DateTime.ToString("dd/MM/yyyy HH:mm")" datetime="@Model.PostDate.DateTime.ToString("dd/MM/yyyy HH:mm")">
            @Model.PostDate.UtcDateTime.AsPastDays()
        </time>
    </div>

    <div>
        @{
            var postPictureBase64 = Convert.ToBase64String(Model.Picture);
            var postPicture = String.Format("data:image/jpeg;base64,{0}", postPictureBase64);
        }
        <img class="immagine-post" src="@postPicture" />
    </div>

    <div>
        <div class="post-likes">
            <button class="pulsante-like @(Model.IsLikedByCurrentUser ? "post-piaciuto" : String.Empty)" data-post-id="@Model.PostID">
                Mi piace
            </button>
            <strong>
                <span class="numero-like">@Model.LikesCount</span> mi piace
            </strong>
        </div>

        <p class="commento-autore-post">
            @Html.Raw(Model.Text)
        </p>

        <partial name="~/Views/Post/_CommentsPartial.cshtml" model="Model.Comments" />

        <partial name="~/Views/Post/_AddCommentPartial.cshtml" model="Model" />
    </div>

</div>